{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Titulo</title>
    <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
    <script defer src="{% static 'semantic/semantic.min.js' %}"></script>
    <script defer src="{% static 'js/base.js' %}"></script>
    <script defer src="{% static 'fontawesome/fontawesome-all.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
</head>
<body>
<div class="ui large top menu">
    <a class="active item">
        Home
    </a>
    <a class="item">
        Messages
    </a>
    <div class="right menu">
        <div class="ui dropdown item">
                Despesas<i class="dropdown icon"></i>
            <div class="menu">
                <a href="{% url 'index'%}" class="item">Listar</a>
                <a href="{% url 'cadastro_despesa'%}" class="item">Incluir</a>
            </div>
        </div>
        <div class="item">
            {% if user.is_authenticated %}
            <a href="{% url 'logout'%}" class="navbar-item is-active">
                <div class="ui primary button">
                    logout
                </div>
            </a>
            {% else %}
            <a href="{% url 'login'%}" class="navbar-item is-active">
                <div class="ui primary button">
                    login
                </div>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>