    {% load staticfiles %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>
        <link rel="stylesheet" href="{% static 'bulma/bulma.css' %}">
        <script defer src="{% static 'fontawesome/fontawesome-all.min.js' %}"></script>
    </head>
    <body>
    <nav class="navbar is-primary">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
            </a>
            <div class="navbar-burger burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-active">
                    <a class="navbar-link">
                        Despesas
                    </a>

                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item">
                            Cadastro
                        </a>
                        <a class="navbar-item">
                            Elements
                        </a>
                        <a class="navbar-item">
                            Components
                        </a>
                        <hr class="navbar-divider">
                        <div class="navbar-item">
                            Version 0.6.2
                        </div>
                    </div>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link">
                        Perfil
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    </body>
    </html>