{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'js/cadastro_despesa.js' %}"></script>
<div class="ui main text container">
    <h2 class="ui header">Cadastro de Despesa</h2>
    {% if form.errors %}
        <div class="ui error message">
            <div class="header">Erro ao cadastrar despesa</div>
                {{form.errors}}
        </div>
    {% endif %}
    <form action="." method="post" class="ui form">
        {% csrf_token %}
        <h4 class="ui dividing header">Informações da Despesa</h4>
        <div class="two fields">
            <div class="field required {% if form.nome.errors %} error {% endif %}">
                <label>{{ form.nome.label }}</label>
                {{ form.nome|attr:"placeholder:Nome da Despesa" }}
            </div>
            <div class="field required {% if form.valor.errors %} error {% endif %}">
                <label>{{ form.valor.label }}</label>
                {{ form.valor|attr:"placeholder:Valor da Despesa" }}
            </div>
        </div>

        <div class="four fields">
            <div class="field required {% if form.dia_vencimento.errors %} error {% endif %}">
                <label>{{ form.dia_vencimento.label }}</label>
                {{ form.dia_vencimento|attr:"placeholder:Dia do Vencimento"|add_class:"ui fluid search dropdown"  }}
            </div>
            <div class="field {% if form.periodica.errors %} error {% endif %} ">
                <label>Despesa</label>
                <div id="div-periodica" class="ui toggle checkbox">
                    <label for="{{ form.periodica.id_for_label }}">{{ form.periodica.label }}</label>
                    {{ form.periodica|add_class:"hidden"|attr:"tabindex:0" }}
                    </label>
                </div>
            </div>
            <div class="field periodos disabled {% if form.mes_inicio.errors %} error {% endif %}">
                <label>{{ form.mes_inicio.label }}</label>
                {{ form.mes_inicio|add_class:"ui fluid search dropdown" }}
            </div>
            <div class="field periodos disabled {% if form.mes_termino.errors %} error {% endif %}">
                <label>{{ form.mes_termino.label }}</label>
                {{ form.mes_termino|add_class:"ui fluid search dropdown" }}
            </div>
        </div>
        <div class="two fields">
            <div class="field {% if form.categoria.errors %} error {% endif %}">
                <label>{{ form.categoria.label }}</label>
                {{ form.categoria|attr:"placeholder:Categoria" }}
            </div>
            <div class="field {% if form.cor.errors %} error {% endif %}">
                <label>{{ form.cor.label }}</label>
                {{ form.cor|attr:"placeholder:Cor" }}
            </div>
        </div>
        <div class="ui segment">
            <div class="field {% if form.repeticao_anual.errors %} error {% endif %}">
                <div id="box-rep-anual" class="ui toggle checkbox">
                    {{ form.repeticao_anual|add_class:"hidden"|attr:"tabindex:0" }}
                    <label>{{ form.repeticao_anual.label }}</label>
                </div>
            </div>
        </div>

        <div class="field {% if form.observacao.errors %} error {% endif %}">
            <label>{{ form.observacao.label }}</label>
            {{ form.observacao|attr:"placeholder:Observação"|attr:"rows:5" }}
        </div>
        <button type="reset" class="ui button">
            Limpar
        </button>
        <button type="submit" class="ui positive  button">
            Salvar
        </button>
    </form>
    {% endblock %}