{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'js/parametrizar_contas.js' %}"></script>
<div class="ui main container">
    {% include 'step_cadastro_despesa.html' %}
    <h2 class="ui dividing header ">Cadastro de Contas</h2>
    {% if form.errors %}
    <div class="ui  error  message">
        <div class="header">Erro ao cadastrar despesa</div>
        {{form.errors}}
    </div>
    {% endif %}
    <div id="alerta-maximo-formularios" class="ui hidden negative floating message">
        <div class="header">
            Não é possivel adicionar outra conta
        </div>
        <p>A quantidade maxima de contas é <span id="maximo-formularios"></span></p>
    </div>
    <form action="{% url 'cadastro_conta' despesa_id %}" method="post">
        <table class="ui striped unstackable table">
            <thead>
            <tr>
                <th>Referente</th>
                <th>Valor</th>
                <th>Vencimento</th>
                <th>Paga</th>
                <th>Dt pagamento</th>
            </tr>
            </thead>
            <tbody>
            {% for conta in contas %}
            <tr>
                <td>{{conta.referente.value|date:"M Y"}}</td>
                <td>{{conta.valor.value}}</td>
                <td>{{conta.dia_vencimento.value}}</td>
                <td>
                    <div class="ui toggle fitted checkbox">
                        {{ conta.paga|add_class:"hidden"|attr:"tabindex:0" }}
                        <label></label>
                    </div>
                </td>
                Falta Terminar Dadta de Paa
                <td class="data-pa">{{conta.data_pagamento.value|default:""}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="ui positive  button right floated">
            <i class="save icon"></i>
            Salvar
        </button>
            {% csrf_token %}
            {{ contas.management_form }}
        <div style="display:none">
            {{ contas }}
        </div>
    </form>
</div>
{% endblock %}